// import the function and variables

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/_variables";

//Theme-color
$custom-theme-colors: (
  "theme-blue-primary": rgb(7, 35, 81),
  "theme-blue-light": rgba(236, 240, 247, 0.727),
  "btnLight": rgb(210, 234, 254),
);
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
/* -------- Font Size --------- */
$font-size-base: 0.5rem;

/*--------- Header ------------*/
$headings-font-family: "Roboto", sans-serif;
$navbar-toggler-border-radius: 0;
$nav-link-font-size: 0.95rem;
$nav-link-font-weight: 400;

$dropdown-border-radius: 0;
$dropdown-link-active-bg: rgb(7, 35, 81);
$dropdown-font-size: 1rem;

$hr-margin-y: 0;
$btn-font-size: 0.8rem;

@import "../scss/globals";
@import "../scss/header";
@import "../scss/partner-logo";
@import "../scss/partner-logo";
