
/* -----------HEADER----------- */
/* -----------HEADER Top Navigation----------- */
header{
  background-color: white;
}
header a{
  text-decoration: none;
}

#header-components a{
  padding: 0.5rem;
}

.dropdown-item:hover,
.nav-item a:hover,
#header-components a:hover,
.trending-posts .card-link:hover{
  font-weight: 500;
  transform: scale(1);
}

.component-links:not(:last-child){
  border-right: solid 1px grey;
}

/* ----------- HEADER Main Navigation----------- */
.dropdown-menu{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

#mainProductLink::after{
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid rgba(0,0,0,0);
  border-bottom: 0;
  border-left: 0.3em solid rgba(0,0,0,0);
}

  #header-main nav > ul > li {
    display: inline-block;
}

#header-main nav > ul {
    padding: 0;
    margin: 0;
}

#header-main nav ul li ul.mega_menu {
    position: absolute;
    /* min-width: 100%; */
    min-width: 70%;
    padding: 0;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    /* border-radius: 4px; */
    left: 0;
    right: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.15s;
    transition: 0.15s;
    z-index: 9;
    top: 100%;
}
#header-main nav ul li:hover .mega_menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.product-category-contain {
    max-height: 800px;
}
.product-category > li > a {
    color: #7d7d7d;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 18px;
    display: block;
    font-weight: 600;
    padding: 11px 16px;
    /* border-radius: 4px; */
}
.product-menu {
    position: relative;
}
.product-mega-menu {
    background-color: #fff;
    padding: 0px;
    /* width: 100%; */
    width: 70%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 9;
    max-height: 800px;
    overflow-x: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    /* width: calc(100% - 240px); */
    top: 0px;
    right: 0;
    display: none;
}
.product-mega-menu li {
    list-style: none;
}
.product-menu > ul {
    max-height:100%;
    overflow-x: hidden;
    width: 240px;
    padding: 10px;
}
.product-category > li {
    width: 100%;
    position: static;
    display: inline-block;
}
.product-category > li.active > a,
.product-category > li:hover > a {
    background-color: rgba(7, 35, 81,0.9);
    color: #fff !important;
}
.product-mega-menu > ul {
    /* width: calc(100% / 4); */
    padding: 15px;
    float: left;
    max-height: 100%;
    overflow: initial;
}
.product-mega-menu li a:hover {
    color:  rgba(7, 35, 81);
}
.product-mega-menu > ul > h6 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
}
.product-mega-menu > ul > h6 > a {
    display: inline-block;
    /* width: 100%; */
    color: #444444 !important;
}
.product-mega-menu li a {
    color: #a5a5a5;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
    display: block;
    text-transform: capitalize;
    font-weight: 400;
}
.product-category > li:hover .product-mega-menu,
.product-category > li.active .product-mega-menu.hover {
    display: flex;
} 
.dropdown-menu{
 top: 100%;
 padding: 20px 20px;
 border: none; 
}
.dropdown-item{
    color: #7d7d7d;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 18px;
    /* display: block; */
    font-weight: 600;
    padding: 11px 16px;
}
.dropdown-item:hover{
  color: #ffffff;
  background-color: rgba(7, 35, 81,0.9);
}

/* Small devices (up to 576px) */
@media (max-width: 576px) {

#header-main nav ul li ul.mega_menu{
display: block;
position: static;
}

#header-main nav > ul > li {
display: block;
margin-bottom: 10px;
}

.product-menu > ul,
.product-menu > ul > li{
width: 100%;
}

.product-mega-menu {
background-color: rgba(188, 215, 252, 0.544);
width: 100%;
position: static;
}
.product-category > li > a {
font-size:13px;
}
.product-category > li:hover .product-mega-menu,
.product-category > li.active .product-mega-menu.hover {
display: block;
}
}


/* -----------Hero Section----------- */

  .carousel-item img {
    width: 100%;
    height: 70vh;
    filter: brightness(40%);
  }
  /* .carousel-item{
    background-color: rgba(); 
  } */
  .carousel-caption {
    width: 40%;
    height: 63vh;
    text-align: left;
    /* padding: 150px 20px; */
    padding: 8% 0 8% 0 ;
  }
  .carousel-caption h5{
    font-size: 3rem;
  }
  .carousel-caption :nth-child(2) {
    font-size: 1.8rem;
    color: rgb(0, 190, 176);
  }
  .carousel-caption :nth-child(3) {
    font-size: 1.1rem;
    font-weight: 300;
    color:white;
  }
  .carousel-caption a {
    background-color: rgb(0, 190, 176);
    box-shadow: none;
    border: rgb(0, 0, 0) 50%;
    color: rgb(255, 255, 255);
  }
  .carousel-caption a:hover {
    background-color: rgb(1, 113, 105);
    border: rgb(0, 0, 0) 50%;
  }
 
  /*----------Section Title---------*/

  .section-title {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 15px;
    color: black;
  }
  
  .section-title h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: rgb(207, 209, 212);
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: rgb(7, 35, 81);
    bottom: 0;
    left: calc(50% - 20px);
  }
  
/* ------------------Section Solution------------ */

.solutions{
  padding-bottom: 30px;
  /* background-color: #e1e5ea; */
}

.solutions .card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all .3s ease-in-out;
}

.solutions .card:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transform: scale(1.05);
}

.solutions .card-body{
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}
.solutions .card-link{
  padding-top: 5px;
}
.solutions .card-link>i:hover{
  transform: scale(1.5);
}
.solutions .card>img{
  height:400px;
}
.solutions .card-body{
  background-color: rgba(7, 35, 81,0.9);
}
.solutions .cardText{
  align-self: center;
  text-align: justify;
}
/* ------------------Section Industries--------- */
.cardText{
  align-self: center;
}

/* ------------------Section Why us--------- */
.whyUs .card{
  border:none;
}

.whyUs .card-img-top{
  padding-left: 1rem;
}

/* ------------------Section Trending Post------------ */
.trending-posts img{
  width: 100%;
  max-height:180px;
}

.trending-posts .card-link{
  color: rgb(1, 113, 105);
}

.featured-tag{
  color: red;
}

.trending-posts .carousel-control-next-icon,
.trending-posts .carousel-control-prev-icon{
  background-color: black;
  border-radius: 50%;
  padding: 1rem;
}
/* ------------------Section Footer------------ */
footer {
  color:rgb(255, 255, 255);
}

footer .nav-item>a,
footer .nav-item a:hover{
  color: rgb(241, 241, 241);
}

.bi {
  vertical-align: -.125em;
  fill: rgb(255, 255, 255);
}



/* ============ desktop view Header============ */
/* ------Main Navigation----- */
/* @media all and (min-width: 992px) {

  .navbar .has-megamenu{
    position:static!important;

  }
  .navbar .mega-menu{
    top: 2rem;
    left:0;
    right:0;
    margin-top:0;
    width: 350px;
    min-height: 320px;
  }

  #mega-submenu{
    left: 100%;
    top: 0;
    width: 900px;
    min-height: 320px;
  }
  

}		 */
/* ============ desktop view end============ */


/* ============ mobile view Header============ */

@media(max-width: 991px){

  /* ---------component links ------ */
  #buy{
    display: none;
  }
  /* ---------Main Navigation ------ */
  /* .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
  .navbar .mega-menu{
    width:100%; 
  } */

  /* ---------Hero ------ */

  .carousel-item img {
    height: 90%;
  }
  .carousel-caption {
    width: 90%;
    left: 1rem;
  }
  .carousel-caption :nth-child(2) {
    font-size: 1.3rem;
  }
  .carousel-caption :nth-child(3) {
    font-size: 0.8rem;
  }
  .carousel-caption h5{
    font-size: 2rem;
  }

  /* ---------Industries ------ */
 /* .cardText:nth-of-type(odd){
    order: 1;
  }*/
  .cardImage,
  .cardText{
    margin-bottom: 10px;
    padding: 10px;
  } 


}

/* ============ mobile view end============ */
